# =============== Python ===============
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# =============== Ambientes Virtuais ===============
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt

# =============== Dados e Outputs ===============
*.csv
*.json
*.xlsx
*.xls
*.parquet
*.feather
*.db
*.sqlite3
*.sql
data/
dataset/
output/
results/
logs/


!frontend/package.json
!frontend/package-lock.json
!frontend/tsconfig*.json
!frontend/vercel.json


!backend/data/
!backend/data/01_raw/bus_stops.csv
!backend/data/03_output/result_heatmap.csv
!backend/data/04_geo/fullmapfortaleza.geojson
# =============== IDEs e Editores ===============
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# =============== Outros ===============
*.log
*.bak
*.tmp
*.temp
.env
.env.*
*.pkl
*.pickle
*.joblib
__MACOSX/