# Dados grandes gerados pela raspagem
dados_brutos/gps.csv
dados_brutos/validation.csv
dados_brutos/bus_stops.csv
dados_brutos/validacao_agrupada.csv

# Outros arquivos grandes
*.csv
dados_brutos/*.csv
!dados_brutos/dados.py
